body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  font-size: 14px !important;
}
i {
  cursor: pointer;
}
/*------------------------------ PAGINA DI SCELTA ACCOUNT------------------------------ */
#titleFirstPage {
  font-size: 30px;
}

@media screen and (min-width: 576px) {
  #titleFirstPage {
    font-size: 40px;
  }
}

.cardAccount {
  cursor: pointer;
}

.imgAccount {
  width: 85px;
}

.titleAccount {
  font-size: 12px;
}

.buttonFirstPage {
  font-size: 13px;
}

.borderImageAccount {
  border: 2px solid white;
}

.colorTitleAccount {
  color: white !important;
  font-weight: 500;
}

.editFirstImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.titleLanguageDecision {
  font-size: 14px;
}
.languageDecision {
  font-size: 12px;
}

/*------------------------------ PAGINA DI MODIFICA ACCOUNT------------------------------ */

.logoWidth {
  width: 150px;
}
.paddingInput {
  padding: 1px 1px 1px 5px;
}

::placeholder {
  color: white;
  font-size: 14px;
}

.customCheckbox {
  width: 25px;
  height: 25px;
}
@media screen and (min-width: 992px) {
  .mainMD {
    width: 70vw;
    margin: auto;
  }
}
@media screen and (min-width: 1200px) {
  .mainMD {
    width: 40vw;
    margin: auto;
  }
}
/*------------------------------ HOMEPAGE------------------------------ */
.bodyHomepage {
  padding: 0 10px 0 10px;
}
@media screen and (min-width: 992px) {
  .bodyHomepage {
    padding: 0 45px 0 45px;
  }
  .navFocus {
    color: white !important;
    opacity: 1;
  }
  .navSearch {
    display: block !important;
  }
  .mainHomepage {
    padding-right: 70px;
  }
  .fontTitleHomePage {
    font-size: 30px;
  }
}

.profileImageHomepage {
  width: 35px;
}

.bodyWidth {
  width: 90vw;
}

.imgLogo {
  width: 120px;
}

.fontTitleHomePage {
  font-size: 16px !important;
}
.imgCarousel {
  max-width: 95px;
}
.carusielVisible {
  overflow: visible !important;
}
section {
  i {
    border: 1px solid grey;
  }
}

.custom-carousel .carousel-item img {
  transition: transform 0.2s, opacity 0.3s;
}

.custom-carousel .carousel-item img:hover {
  transform: scale(1.2);
  opacity: 1;
}

.carousel-inner:has(img:hover) img:not(:hover) {
  opacity: 0.1;
}

.footerFontSize {
  font-size: 8px;
  line-height: 16px;
}
.footerCopry {
  font-size: 8px;
}

.footerButton {
  font-size: 10px;
}

@media screen and (min-width: 768px) {
  .footerFontSize {
    font-size: 11px;
    line-height: 22px;
  }
}
