/*header*/
#Container {
    margin:0 auto;
    
}
header {
    text-align: center;
    font-size: 10px;
    font-weight: bolder;
}
#Title {
     margin: 40px;
    padding: 20px;
    border-top: 2px solid rgb(206, 147, 37,2);
    background-color: rgba(238, 228, 86, 0.2);
    color: rgb(58, 100, 112);
}
div h2 {
    text-align: left;
    font-size: 45px;
    margin-top: 75px;
    font-weight: bolder;
    text-align: center;
}
div p{
    font-size: 18px;
    margin: 20px;
   text-align: center;
}
div img {
    border-radius: 10px;
}
div figcaption {
font-size: 17px;
margin: 13px;
color: grey;
}
nav p {
    padding-left: 15px;
    margin-top: 50px;
    margin-left: 310px;
    text-align: left;
    color: red;
    border-left: 2px solid rgb(206,147,37,2);
}

article h1 {
     margin-left: 310px;
     margin-top: 55px;
     font-size: 28px;
     border-bottom: 2px solid rgb(58, 100, 112,0.2);
     padding-bottom: 25px;
}
.paragrafo {
    text-align: left;
    margin-left: 310px;
    margin-top: 33px;
    font-size: 20px;
    font-weight: bold;

}
ul {
    margin-left: 310px;
    line-height: 2em;
}
aside h1 {
    margin-left: 310px;
    border-bottom: 2px solid rgb(58, 100, 112,0.2);
    padding-bottom: 22px;
}
aside h2 {
    font-size: 20px;
    margin-left: 330px;
    text-align: left;
    margin-top: 28px;
}
aside p {
    margin-left: 350px;
    text-align: left;
}
footer {
    margin-left: 310px;
}